@import url('../../fonts/Montserrat/Montserrat.css');
@import url('../../fonts/NanumSquareNeo/NanumSquareNeo.css');
@import url('../../fonts/GmarketSans/GmarketSans.css');

.mont {
    font-family: "Montserrat";
}

.nanum {
    font-family: 'NanumSquareNeo';
}

.gmarket {
    font-family: 'GmarketSans';
}